# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
.env

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
